<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/role-selection"></ion-back-button>
    </ion-buttons>
    <ion-title>Seleccionar Objetivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <p class="text-lg font-semibold">¿Cuál Es Tu Objetivo?</p>
    <p class="text-sm text-gray-600">Ingrese el enfoque al que quiere llevar su entrenamiento.</p>
  </div>

  <ion-list lines="none" class="ion-margin-top">
    <ion-item
      *ngFor="let objective of availableObjectives"
      button
      (click)="toggleObjective(objective)"
      [color]="isSelected(objective) ? 'primary' : ''"
      class="objective-item"
    >
      <ion-label>{{ objective }}</ion-label>
      <ion-icon [name]="isSelected(objective) ? 'checkmark-circle' : 'ellipse-outline'" slot="end" [color]="isSelected(objective) ? 'light' : 'medium'"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    (click)="continueToNextPage()"
    [disabled]="selectedObjectives.length === 0" >
    Continuar
  </ion-button>
</ion-content>