<!-- src/app/pages/profile/profile-setup-weight/profile-setup-weight.page.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-setup-height" text="Regresar" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">

  <div class="text-center">
    <h2>¿Cuál Es Tu Peso?</h2>
    <p>Ingrese correctamente su Peso.</p>
  </div>

  <ion-segment [(ngModel)]="unit" value="kg" color="danger">
    <ion-segment-button value="kg">
      <ion-label>KG</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lb">
      <ion-label>LB</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="weightForm" (ngSubmit)="onNext()">
    <ion-item class="custom-item">
      <ion-label position="floating">Peso ({{ unit | uppercase }})</ion-label>
      <ion-input type="number" formControlName="weight" min="20" max="300"></ion-input>
    </ion-item>
    <div *ngIf="weightForm.get('weight')?.touched && weightForm.get('weight')?.errors?.['required']" class="error-message">
      El peso es requerido.
    </div>
    <div *ngIf="weightForm.get('weight')?.touched && (weightForm.get('weight')?.errors?.['min'] || weightForm.get('weight')?.errors?.['max'])" class="error-message">
      El peso debe estar entre 20 y 300 kg/lb.
    </div>
    <div *ngIf="weightForm.get('weight')?.touched && weightForm.get('weight')?.errors?.['pattern']" class="error-message">
      Solo se permiten números.
    </div>

    <ion-button expand="block" type="submit" color="danger" [disabled]="weightForm.invalid">
      Siguiente
    </ion-button>
  </form>
</ion-content>