<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-text *ngIf="newPasswordControl?.invalid && (newPasswordControl?.dirty || newPasswordControl?.touched)" color="danger">
      <p class="ion-padding-start" *ngIf="newPasswordControl?.errors?.['required']">
        La nueva contraseña es requerida.
      </p>
      <p class="ion-padding-start" *ngIf="newPasswordControl?.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres.
      </p>
    </ion-text>


    <ion-item>
      <ion-label position="floating">Confirmar nueva contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-text *ngIf="confirmPasswordControl?.invalid && (confirmPasswordControl?.dirty || confirmPasswordControl?.touched)" color="danger">
      <p class="ion-padding-start" *ngIf="confirmPasswordControl?.errors?.['required']">
        Confirmar contraseña es requerido.
      </p>
    </ion-text>

    <ion-text *ngIf="changePasswordForm.errors?.['passwordMismatch'] && (confirmPasswordControl?.dirty || confirmPasswordControl?.touched)" color="danger">
      <p class="ion-padding-start">
        Las contraseñas no coinciden.
      </p>
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="changePasswordForm.invalid">
      Cambiar contraseña
    </ion-button>
  </form>
</ion-content>