<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input type="password" formControlName="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar nueva contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="changePasswordForm.invalid">
      Cambiar contraseña
    </ion-button>
  </form>

  <ion-text class="ion-margin-top ion-text-center" color="medium">
    <p>
      ¿Tienes problemas? <a (click)="goToHelp()">Contactar soporte</a>
    </p>
  </ion-text>
</ion-content>
