<!-- src/app/pages/profile/profile-setup-height/profile-setup-height.page.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-setup-age" text="Regresar" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">

  <div class="text-center">
    <h2>¿Cuál Es Tu Estatura?</h2>
    <p>Ingrese correctamente su Estatura.</p>
  </div>

  <form [formGroup]="heightForm" (ngSubmit)="onNext()">
    <ion-item class="custom-item">
      <ion-label position="floating">Estatura (cm)</ion-label>
      <ion-input type="number" formControlName="height" min="50" max="250"></ion-input>
    </ion-item>
    <div *ngIf="heightForm.get('height')?.touched && heightForm.get('height')?.errors?.['required']" class="error-message">
      La estatura es requerida.
    </div>
    <div *ngIf="heightForm.get('height')?.touched && (heightForm.get('height')?.errors?.['min'] || heightForm.get('height')?.errors?.['max'])" class="error-message">
      La estatura debe estar entre 50 y 250 cm.
    </div>
    <div *ngIf="heightForm.get('height')?.touched && heightForm.get('height')?.errors?.['pattern']" class="error-message">
      Solo se permiten números.
    </div>

    <ion-button expand="block" type="submit" color="danger" [disabled]="heightForm.invalid">
      Siguiente
    </ion-button>
  </form>
</ion-content>