<ion-header>
  <ion-toolbar>
    <ion-title>Todas las Rutinas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2 class="text-xl font-bold">Gestión de Rutinas</h2>
    <p class="text-gray-700">Como entrenador, puedes ver, asignar y crear rutinas.</p>
  </div>

  <ion-list class="ion-margin-top">
    <ion-item button *ngFor="let routine of allRoutines" (click)="viewRoutineDetails(routine)">
      <ion-label>
        <h3>{{ routine.name }}</h3>
        <p>Duración: {{ routine.duration }} | {{ routine.exercises }} Ejercicios</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="assignRoutine(routine); $event.stopPropagation()">
          <ion-icon name="person-add-outline"></ion-icon>
          Asignar
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="createRoutine()">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Crear Nueva Rutina
  </ion-button>

  <ion-modal [isOpen]="isAssignModalOpen" (didDismiss)="isAssignModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Asignar Rutina</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isAssignModalOpen = false">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>Asignar "{{ selectedRoutineForAssignment?.name }}" a:</p>
        <ion-item>
          <ion-input label="ID de Usuario" label-placement="stacked" [(ngModel)]="userIdToAssign"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="confirmAssignment()">Confirmar Asignación</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isCreateModalOpen" (didDismiss)="cancelCreateRoutine()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear Nueva Rutina</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelCreateRoutine()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list lines="none">
          <ion-item>
            <ion-input
              label="Nombre de la Rutina"
              label-placement="stacked"
              placeholder="Ej. Rutina de Fuerza"
              [(ngModel)]="newRoutine.name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Duración (ej. 60 minutos)"
              label-placement="stacked"
              placeholder="Ej. 60 minutos"
              [(ngModel)]="newRoutine.duration"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Número de Ejercicios"
              label-placement="stacked"
              type="number"
              placeholder="Ej. 8"
              [(ngModel)]="newRoutine.exercises"
            ></ion-input>
          </ion-item>
          </ion-list>
        <ion-button expand="block" class="ion-margin-top" (click)="saveNewRoutine()">
          Guardar Rutina (Solo Demo)
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button expand="block" routerLink="/home" class="ion-margin-top">Volver al Inicio</ion-button>
</ion-content>