<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar" color="back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <div class="info-section ion-text-center">
    <h2>Gestión de Rutinas</h2>
    <p>Como entrenador, puedes ver, asignar y crear rutinas.</p>
  </div>

  <ion-list lines="none" class="ion-margin-top">
    <ion-item *ngFor="let routine of allRoutines" class="routine-item" button>
      <ion-label>
        <h3>{{ routine.name }}</h3>
        <p>Duración: {{ routine.duration }} | {{ routine.exercises }} Ejercicios</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="assignRoutine(routine); $event.stopPropagation()" class="assign-button">
          Asignar
        </ion-button>
        <ion-icon name="chevron-forward-outline" class="detail-arrow"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="main-action-button create-routine-button" (click)="createRoutine()">
    Crear Nueva Rutina
  </ion-button>

  <ion-button expand="block" routerLink="/home" class="main-action-button back-to-home-button">
    Volver al Inicio
  </ion-button>

  <ion-modal [isOpen]="isAssignModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-title class="modal-title">Asignar Rutina: {{ selectedRoutineForAssignment?.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isAssignModalOpen = false" class="modal-close-button">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modal-content">
        <p class="modal-text">Ingrese el ID del usuario al que desea asignar esta rutina.</p>
        <ion-item class="modal-input-item">
          <ion-label position="floating">ID de Usuario</ion-label>
          <ion-input [(ngModel)]="userIdToAssign"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="confirmAssignment()" class="modal-action-button">Confirmar Asignación</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isCreateModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar class="modal-toolbar">
          <ion-title class="modal-title">Crear Nueva Rutina</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelCreateRoutine()" class="modal-close-button">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding modal-content">
        <ion-list lines="none">
          <ion-item class="modal-input-item">
            <ion-input
              label="Nombre de la Rutina"
              label-placement="stacked"
              placeholder="Ej. Rutina de Fuerza"
              [(ngModel)]="newRoutine.name"
            ></ion-input>
          </ion-item>
          <ion-item class="modal-input-item">
            <ion-input
              label="Duración (ej. 60 minutos)"
              label-placement="stacked"
              placeholder="Ej. 60 minutos"
              [(ngModel)]="newRoutine.duration"
            ></ion-input>
          </ion-item>
          <ion-item class="modal-input-item">
            <ion-input
              label="Número de Ejercicios"
              label-placement="stacked"
              type="number"
              placeholder="Ej. 8"
              [(ngModel)]="newRoutine.exercises"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="modal-action-button" (click)="saveNewRoutine()">
          Guardar Rutina
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>