<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>

  <ion-button expand="full" type="submit">Iniciar sesión</ion-button>
</form>


  <ion-text class="ion-margin-top ion-text-center" color="medium">
    <p>
      ¿Olvidaste tu contraseña?
      <a (click)="goToRecovery()">Recuperar cuenta</a>
    </p>
    <p>
      ¿No tienes una cuenta?
      <a (click)="goToRegister()">Registrarse</a>
    </p>
  </ion-text>
</ion-content>
