/* src/app/pages/register/register.page.scss */

.error-message {
  color: var(--ion-color-danger); /* Usa el color de peligro de Ionic */
  font-size: 0.8em;
  margin-top: -10px; // Acercar al campo que lo causó
  margin-bottom: 10px;
  padding-left: 16px; // Alinea con el padding de ion-item
}