<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mis Rutinas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button expand="block" class="continue-button" (click)="goToProfile()">
  Ir a Perfil
</ion-button>

<ion-content class="ion-padding" color="dark">
  <ion-list>
    <ion-item *ngFor="let r of routines$ | async" button (click)="openActions(r)">
      <ion-thumbnail slot="start">
        <img src="assets/images/imagen1.png" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ r.name }}</h2>
        <p>Duración aprox: {{ r.totalDuration }} min · {{ r.exercises.length }} ejercicios</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- FAB para crear nueva rutina -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="goToCreate()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
